@model Fjtc.Model.ViewModel.ProductUserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设置支付密码</title>
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.extend.js")"></script>
    <script src="@Url.Content("~/Scripts/rponey/rponey.js")"></script>
    <script src="@Url.Content("~/Scripts/rponey/rponey.alertMsg.js")"></script>
</head>
<body>
    <div>
        <form id="registerform" method="POST" action="@Url.Action("RetSetSendRedPackPassword")" onsubmit="return validateCallback(this, navTabAjaxDone)">
            @Html.AntiForgeryToken()
            <p>
                <label>
                    用户名：
                    @Html.TextBoxFor(m => m.LoginName)
                </label>
            </p>
            <p>
                <label>
                    密 码：
                    @Html.PasswordFor(m => m.Password)
                </label>
            </p>
            <p>
                <label>
                    发送红包密码：
                    @Html.TextBoxFor(m => m.SendRedPackPassword)
                </label>
            </p>
            <p>
                <input type="submit" value="修改" />
            </p>
        </form>
    </div>
</body>
</html>
