@using Fjtc.Model
@using Fjtc.Model.Entity
@model Fjtc.Model.Entity.MpWeiXinAccessSetting
@{
    Layout = null;
    var currentUser = ViewBag.CurrentUser as ProductUser;
}
<div class="pageContent">
    <form method="post" action="@Url.Action("Save", new { area = "Admin" })" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="180">
            <p>
                <label>AppId：</label>
                @Html.TextBoxFor(m => m.AppId)
            </p>
            <p>
                <label>AppSecret：</label>
                @Html.TextBoxFor(m => m.AppSecret)
            </p>
            <p>
                <label>Token：</label>
                @Html.TextBoxFor(m => m.Token)
            </p>
            <p>
                <label>微信支付商户号：</label>
                @Html.TextBoxFor(m => m.MachId)
            </p>
            <p>
                <label>API密钥	：</label>
                @Html.TextBoxFor(m => m.ApiKey)
            </p>
        </div>
        <div>
            <p style="font-size: 20px;">
                授权地址:@("http:" + currentUser.BindHost + Url.Action("Auth", "MpWeiXin", new { area = "" }))
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
